FONT.copyright
{
FONT-WEIGHT: normal;
FONT-SIZE: 8pt;
COLOR: black;
FONT-FAMILY: "Arial"
}

A
{
TEXT-ALIGN: left;
FONT-WEIGHT: normal;
FONT-SIZE: 9pt;
COLOR: black;
FONT-FAMILY: "Arial"
}

A.desc
{
height:100%
}


TD.formtitle
{
FONT-WEIGHT: bold;
FONT-SIZE: 10pt;
COLOR: black;
FONT-FAMILY: "Arial"
}


TD.formlabel
{
WIDTH: 25%;
TEXT-ALIGN: left;
FONT-WEIGHT: normal;
FONT-SIZE: 9pt;
COLOR: black;
FONT-FAMILY: "Arial"
}

TD.formdatalabel
{
WIDTH: 25%
TEXT-ALIGN: left
FONT-WEIGHT: normal;
FONT-SIZE: 9pt;
COLOR: black;
FONT-FAMILY: "Arial";
}


TD.statushistory
{
HEIGTH: 100%;
WIDTH: 25%;
TEXT-ALIGN: left;
FONT-WEIGHT: normal;
FONT-SIZE: 9pt;
COLOR: black;
FONT-FAMILY: "Arial";
}

TD.forminput
{
WIDTH: 25%;
TEXT-ALIGN: left;
FONT-WEIGHT: normal;
FONT-SIZE: 9pt;
COLOR: black;
FONT-FAMILY: "Arial";
}

TD.formcolinput
{
WIDTH: 25%;
TEXT-ALIGN: left;
FONT-WEIGHT: normal;
FONT-SIZE: 9pt;
COLOR: black;
FONT-FAMILY: "Arial";
}


TD.formtitlelabel
{
WIDTH: 25%;
TEXT-ALIGN: left;
FONT-WEIGHT: normal;
FONT-SIZE: 9pt;
COLOR: black;
FONT-FAMILY: "Arial";
}


TD.formspace
{
WIDTH: 25%;
TEXT-ALIGN: right
}


TD.forminputtitle
{
TEXT-ALIGN: left
}


TD.formdescription
{
WIDTH: 35%;
TEXT-ALIGN: left
}

TD.formarealabel
{
WIDTH: 25%;
FONT-WEIGHT: normal;
FONT-SIZE: 9pt;
COLOR: black;
FONT-FAMILY: "Arial";
HEIGHT: 100%
}

TD.formselectortext
{
WIDTH: 25%;
TEXT-ALIGN: left;
FONT-WEIGHT: normal;
FONT-SIZE: 9pt;
COLOR: black;
FONT-FAMILY: "Arial";
}


TD.copyright
{
FONT-WEIGHT: normal;
FONT-SIZE: 8pt;
COLOR: black;
FONT-FAMILY: "Arial"
}

TD.header1
{
BACKGROUND-COLOR: #5a6ccc;
FONT-WEIGHT: bold;
FONT-SIZE: 9pt;
COLOR: white;h
FONT-FAMILY: "Arial"
}

TD.loginheader
{
BACKGROUND-COLOR: #5a6ccc;
FONT-WEIGHT: bold;
FONT-SIZE: 9pt;
COLOR: white;h
FONT-FAMILY: "Arial"
}

A
{
FONT-WEIGHT: normal;
COLOR: #000000;
TEXT-DECORATION: none
}

A:hover
{
FONT-WEIGHT: normal;
COLOR: blue;
TEXT-DECORATION: underline
}

INPUT
{
FONT-SIZE: 9pt;
COLOR: #000000;
FONT-FAMILY: "Arial"
}


INPUT.a
{
WIDTH: 100%;
FONT-SIZE: 9pt;
COLOR: #000000;
FONT-FAMILY: "Arial";
BACKGROUND-COLOR: white
}


INPUT.requesttitle
{
WIDTH: 94%;
FONT-SIZE: 9pt;
COLOR: #000000;
FONT-FAMILY: "Arial";
BACKGROUND-COLOR: white
}

INPUT.tcol
{
WIDTH: 100%;
}


SELECT
{
WIDTH: 100%;
FONT-FAMILY: "Arial"
FONT-SIZE: 9pt;
COLOR: #000000;
BACKGROUND-COLOR: white;
}

SELECT.a
{
WIDTH: 100%;
FONT-SIZE: 9pt;
COLOR: #000000;
FONT-FAMILY: "Arial"
}


BR
{
FONT-WEIGHT: normal;
FONT-SIZE: 9pt;
COLOR: black;
FONT-FAMILY: "Arial"
}


LI.font
{
FONT-WEIGHT: normal;
FONT-SIZE: 10pt;
COLOR: black;
FONT-FAMILY: Arial
}


TABLE.login
{
border:0 ;
cellpadding: 0;
cellspacing: 0;
}


TABLE.loginform
{
width: 350px; 
BORDER-RIGHT: #c0c0c0 thin outset;
PADDING-RIGHT: 4px;
BORDER-TOP: #c0c0c0 thin outset;
PADDING-LEFT: 4px;
PADDING-BOTTOM: 4px;
BORDER-LEFT: #c0c0c0 thin outset;
PADDING-TOP: 4px;
BORDER-BOTTOM: #c0c0c0 thin outset;
BACKGROUND-COLOR: #c0c0c0
}



TABLE.table1
{
width: 700px;
BORDER-RIGHT: #c0c0c0 thin outset;
PADDING-RIGHT: 4px;
BORDER-TOP: #c0c0c0 thin outset;
PADDING-LEFT: 4px;
PADDING-BOTTOM: 4px;
BORDER-LEFT: #c0c0c0 thin outset;
PADDING-TOP: 4px;
BORDER-BOTTOM: #c0c0c0 thin outset;
BACKGROUND-COLOR: #c0c0c0
}


DIV.menu1
{
FONT-SIZE: 7pt;
WIDTH: 80px;
COLOR: white;
FONT-FAMILY: Arial;
HEIGHT: 20px;
BACKGROUND-COLOR: #5a6ccc;
TEXT-ALIGN: center;
font-weight: bold;
border-style: solid;
padding: 6px 6px 6px 6px solid;
BORDER-RIGHT: #0000cd 2px solid;
BORDER-TOP: #0000cd 2px solid;
BORDER-LEFT: #0000cd 2px solid;
BORDER-BOTTOM: #0000cd 2px solid;
POSITION: relative;
}


TEXTAREA
{
WIDTH: 100%;
FONT-SIZE: 9pt;
COLOR: #000000;
FONT-FAMILY: "Arial";
BACKGROUND-COLOR: white
}


